@font-face {
    font-family: 'SST-Light';
    src: url('./asset/SST-Light-latin.3cce6.woff2');
}
@font-face {
    font-family: 'SST-Bold';
    src: url('./asset/SST-Bold-latin.7c968.woff2');
}
@font-face {
    font-family: 'SST-Medium';
    src: url('./asset/SST-Medium-latin.1167b.woff2');
}
@font-face {
    font-family: 'SST-Roman';
    src: url('./asset/SST-Roman-latin.40348.woff2');
}
@font-face {
    font-family: 'SST-SharedNav';
    src: url('./asset/sharedNav.woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

.sony-logo{
    width: 100%;
    height: 36px;
    background-color: black;
    text-align: right;
    padding-right: 10px;
    transition: 0.1s;
}
.sony-logo img{
    width: 75px;
    height: 100%;
    background-color: black;
}
.navbar{
    width: 100%;
    height: 64px;
    left: 0;
    transition: 0.22s all ease;
    right: 0;
    padding: 0px 10px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
 }
.logo{
    align-items: center;
    display: flex;
}
.logo .navItems ul{
    display: flex;
    gap: 12px;
    list-style: none;
    font-family: 'SST-Light';
    font-weight: 700;
    font-size: 13px;
    margin-left: 25px;
}
.logo .navItems ul li:hover{
    color: #0070d1;
    cursor: pointer;
}
.menu-item{
    align-items: center;
    display: flex;
}
.rotate-icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}
.right-nav{
    display: flex;
    align-items: center;
    gap: 25px;
}
.right-nav button{
    padding: 4px 12px;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;    
    font-weight: 400;
    font-family: 'SST-Medium';
    background-color: #0070CC;
    cursor: pointer;
}
.right-nav img{
    width: 30px;
    cursor: pointer;
}
main{
    transition: 0.4s ease;
    height: 100vh;
}
main .slider-container{
    width: 100%;
    height: 80%;
}

.slider {
    width: 100%;
    height:100%;
    overflow: hidden;
  }

  .slides {
    display: flex;
    transition: transform 0.7s ease-in-out;
  }

  .slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
  }
#games{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide:nth-child(1){
    background-image: url(./asset/spider-man-2-hero-banner-desktop-07-en-16oct23.webp);
    background-size: cover;
}
.slide:nth-child(2){
    background-image: url(./asset/great-games-2024-homepage-hero-desktop-01-14dec23$en.webp);
    background-size: cover;
}
.slide:nth-child(3){
    background-image: url(./asset/Fortnite-hero-desktop-05-en-11dec23.webp);
    background-size: cover;
}
.slide:nth-child(4){
    background-image: url(./asset/NBA2K24-s4-hero-desktop-01-en-05jan24.jpeg);
    background-size: cover;
}
.slide:nth-child(5){
    background-image: url(./asset/The-last-of-us-part-ii-remastered-hero-banner-desktop-02-en-16mar23.jpeg);
    background-size: cover;
}
  .button-container {
    height: 25%;
    text-align: center;
    margin-top: 20px;
  }

  .button {
    width: 15%;
    height: 100%;
    border-radius: 12px;
    display: inline-block;
    opacity: 0.7;
    padding: 4px;
    margin-inline: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-out;

  }
.buttonimage{
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.438);
}
.buttonimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.button:hover{
    opacity: 1;
    transform: translateY(-5px); /* Adjust the value as needed */
}
  .button.active {
    border: 3px solid #0070d1;
    opacity: 1;
    transform: translateY(-10px); /* Adjust the value as needed */
  }

/* Utiliti Classes */
.margin{
    padding-top: 64px;
}

.wrapper{
    margin-top: 25px;
    width: 100%;
    height: 100vh;
}

/* Second Slider */
.custom-slider-container {
    width: 100%;
    height: 80%;
    overflow: hidden;
    position: relative;
  }

  .custom-slider {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }

  .custom-slide {
    width: 100%;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
    flex-shrink: 0;
    font-family: 'SST-Light';
    font-weight: 100;
  }
.ps5{
    display: flex;
}
.ps5-dark{
    padding-top: 55px;
    color: #0068bd;
    font-size: 25px;
    font-weight: 300;
}
.ps5 .left{
    width: 40%;
    height: 100%;
    padding: 80px;
}
.ps5 .left p{
    line-height: 57px;
    font-size: 3vw;
}
.ps5 .left .sub{
    color: #6b6b6b;
     margin-top: 15px; 
     font-weight: bold;
     opacity: 0.9;
     font-size: 16px;
}
.left #find{
    padding: 15px 20px;
    background-color: #0070d1;
    border: none;
    margin-top: 20px;
    font-family: 'SST-Bold';
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 25px;
}
.ps5 .right{
    padding: 80px 80px 0px 0px;
    width: 60%;
}
.ps5 .right img{
    width: 100%;
}
  .custom-button-container {
    display: flex;
    width: 80%;
    margin: auto;
    position: relative;
    height: 20%;
    justify-content: space-evenly;
    align-items: center;
  }

  .custom-nav-button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #0070CC;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .custom-button {
    display: inline-block;
    cursor: pointer;
    width: 180px;
    height: 150px;
    padding: 5px 10px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .custom-button.active {
    background-color: #333;
    color: #fff;
  }